<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meteo France</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
</head>
<body ng-app="meteoApp">
	
<h1 style="text-align: center; padding: 40px;">Meteo France (Live)</h1>
                
<div ng-controller="mapController">
	<h6 class="myHome" ng-show="homeCityIsValid">Your city <b>({{homeCity.name}})</b> has the following weather: <b>{{homeCity.weather[0].description}}</b> <img src="http://openweathermap.org/img/w/{{homeCity.weather[0].icon}}.png" alt="{{homeCity.description}}" style="width:50px;height:50px;"></h6>
	<h6 class="myHomeInvalid" ng-show="homeCityIsNotValid"><b>{{homeCityInvalid}} <u>does not exist</u> (check inserted characters!)</b></h6>
    <div class="col-md-8 leftContainer" style="padding-left: 0;">
		<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
			<ng-map center="46.4988281, 1.9142301" zoom="6" style="height:620px;" scrollwheel="false">
				<info-window id="myInfoWindow" >
			      <div ng-non-bindable>
			        <h4>{{selectedCity.name}}</h4>
			        <div>
			        	{{selectedCity.content}}
			        </div>
			      </div> 
			    </info-window>
				<div ng-repeat="marker in markers.list">
					<marker position="{{marker.coord.lat}}, {{marker.coord.lon}}" icon="http://openweathermap.org/img/w/{{marker.weather[0].icon}}.png" on-click="showCity(event, cities[$index])"></marker>
				</div>
			</ng-map>
		</div>
    </div>
    <div class="col-md-4 rightContainer">
    	<form class="citySelector">
	    	<p style="padding-top: 20px;">Please, insert the name of your City: <input type="text" ng-model="homeCityInserted"></p>
	    	<input type="submit" value="OK" class="btn btn-primary" ng-click="verifyCity(homeCityInserted)" ng-show="true">
		</form>
		<div class="streamTwitter">
			<div ng-hide="(selectedCity.name)" ng-show="(!selectedCity.name)">
				<h2>Please, <b>click</b> on the main cities to see last tweets.</h2>
			</div>

            <div ng-hide="(selectedCity.name!='Paris')" ng-show="(selectedCity.name=='Paris')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23paris" data-widget-id="779702440807501824">Tweet riguardo #météo #paris</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          	</div>

            <div ng-hide="(selectedCity.name!='Strasbourg')" ng-show="(selectedCity.name=='Strasbourg')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23strasbourg" data-widget-id="779776812507422720">Tweet riguardo #météo #strasbourg</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>        
          
            <div ng-hide="(selectedCity.name!='Nantes')" ng-show="(selectedCity.name=='Nantes')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23nantes" data-widget-id="779777072008949760">Tweet riguardo #météo #nantes</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>        

            <div ng-hide="(selectedCity.name!='Lyon')" ng-show="(selectedCity.name=='Lyon')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23lyon" data-widget-id="779777362015682561">Tweet riguardo #météo #lyon</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>        
          
            <div ng-hide="(selectedCity.name!='Bordeaux')" ng-show="(selectedCity.name=='Bordeaux')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23bordeaux" data-widget-id="779777533415919616">Tweet riguardo #météo #bordeaux</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>        

            <div ng-hide="(selectedCity.name!='Toulouse')" ng-show="(selectedCity.name=='Toulouse')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23toulouse" data-widget-id="779777720473513985">Tweet riguardo #météo #toulouse</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>        

            <div ng-hide="(selectedCity.name!='Nice')" ng-show="(selectedCity.name=='Nice')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23nice" data-widget-id="779777938946416641">Tweet riguardo #météo #nice</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>        

            <div ng-hide="(selectedCity.name!='Ajaccio')" ng-show="(selectedCity.name=='Ajaccio')">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%23m%C3%A9t%C3%A9o%20%23ajaccio" data-widget-id="779778139350335488">Tweet riguardo #météo #ajaccio</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>      

          
          
          
          
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="angularjs/app.js"></script>
<script src="angularjs/controllers/mapController.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>